.about {
    position: relative;
    margin-bottom: 21rem;
    
    @media #{$lg} {
        margin-bottom: 6.2rem;
    }

    &::before, &::after {
        content: '';
        position: absolute;
        width: 11.1rem;
        height: 3.8rem;
        transform: skew(40deg);

        @media #{$lg} {
            content: none;
        }
    }

    &::before {
        background-color: #F84338C2;
        top: -3rem;
        right: 3.9rem;
    }

    &::after {
        background-color: #FFB900A8;
        top: -1.5rem;
        right: -1.6rem;
    }

    &__video {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 60rem;
        height: 34rem;
        border: 1px solid rgba(218, 223, 228, 0.50);
        border-radius: 13rem 0;
        overflow: hidden;
        z-index: -1;
        top: -0.8rem;
        right: 0;

        @media #{$lg} {
            position: initial;
            width: 100%;
            height: 29.3rem;
            border-radius: 9rem 0;
            transform: translateY(-7rem);
            margin-bottom: -7rem;
        }

        video {
            width: calc(100% + 7rem);
            height: calc(100% + 3.5rem);
            transform: translateY(-3rem);

            @media #{$lg} {
                width: calc(100% + 30rem);
                height: calc(100% + 10rem);
                transform: translateY(-6rem);
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;

        @media #{$lg} {
            flex-direction: column-reverse;
            gap: 1.7rem;
            margin-top: 2.5rem;
        }

        p {
            width: 100%;

            @media #{$lg} {
                font-weight: 500;
                font-size: 1.4rem;
                line-height: 2.2rem;
                display: none;
            }

            &:last-of-type {
                margin-bottom: 13rem;

                @media #{$lg} {
                    margin-bottom: 3rem;
                }
            }

            &:has(+ p) {
                @media #{$lg} {
                    order: 1;
                }
            }

            &:has(+ .about__photos) {
                margin-bottom: 7.4rem;
            }

            span {
                font-weight: 500;
                color: $color-primary;
            }
        }
    }

    &__logo {
        width: 28.3rem;
        height: max-content;
        object-fit: contain;
        object-position: center;
        margin-top: 2.5rem;
        margin-bottom: 4rem;

        @media #{$lg} {
            order: 2;
            margin-top: 0.5rem;
            margin-bottom: 3rem;
        }
    }

    &__text-narrow {
        max-width: 72.3rem;
        margin-bottom: 1.4rem;

        @media #{$lg} {
            display: initial !important;
        }
    }

    &__button {
        position: absolute;
        top: 30.2rem;
        right: 45.2rem;

        @media #{$lg} {
            position: relative;
            display: flex;
            top: 0;
            left: 0;
        }
    }

    .photo-gallery {
        margin-bottom: 7.4rem;

        @media #{$lg} {
            margin-top: 4.3rem;
        }
    }
}