$font-main: 'Bebas Neue', Arial, sans-serif;
$font-second: 'Gilroy', Arial, sans-serif;

$color-white: #fff !default;
$color-black: #000 !default;
$color-primary: #E31E24 !default;
$color-secondary: #596775 !default;
$color-warning: #FFB033 !default;
$color-title: #222222 !default;
$color-text: #3F3F3F !default;

$xxl: 'screen and (max-width: 1400px)';
$xl: 'screen and (max-width: 1200px)';
$lg: 'screen and (max-width: 992px)';
$md: 'screen and (max-width: 768px)';
$sm: 'screen and (max-width: 576px)';